<html>
    <head>
        <title>Adi's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Adi's Fun Blog</a></h1>
        </div>

        <div>

            <h2><a href="">My first post</a></h2>
            <p>Hi everyone! My name is Adi Schwartz and today I learned how to build my own website. what do you think?</p>
        </div>

        <div>
            <p>published: 03.06.2018, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>This is my second post. So boring, right?</p>
        </div>
 <p>published: 04.06.2018, 12:14</p>
    </body>
</html>